---
import "@fontsource/nunito-sans/400.css";
import "@fontsource/nunito-sans/600.css";
import "@fontsource/nunito-sans/700.css";
import "@fontsource/nunito-sans/800.css";
import "@fontsource/nunito-sans/900.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Speakers Bureau | Green Software Foundation</title>
    <meta name="title" content="Speakers Bureau | Green Software Foundation" />
    <meta name="description" content="Find a green software speaker." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://speakers.greensoftware.foundation/"
    />
    <meta
      property="og:title"
      content="Speakers Bureau | Green Software Foundation"
    />
    <meta property="og:description" content="Find a green software speaker." />
    <meta
      property="og:image"
      content="https://speakers.greensoftware.foundation/images/og-image.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://speakers.greensoftware.foundation/"
    />
    <meta
      property="twitter:title"
      content="Speakers Bureau | Green Software Foundation"
    />
    <meta
      property="twitter:description"
      content="Find a green software speaker."
    />
    <meta
      property="twitter:image"
      content="https://speakers.greensoftware.foundation/images/og-image.png"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <svg
            width="162"
            height="64"
            viewBox="0 0 162 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M78.2136 39.0887C77.2498 38.7951 76.4118 38.3756 75.7414 37.7884L76.6213 35.859C77.3336 36.4042 78.046 36.7817 78.8421 37.0334C79.6382 37.2851 80.4762 37.4109 81.3562 37.4109C82.3618 37.4109 83.116 37.2431 83.6607 36.8656C84.2055 36.5301 84.4569 36.0267 84.4569 35.3976C84.4569 34.8523 84.2055 34.4328 83.7026 34.1392C83.1998 33.8456 82.3618 33.5939 81.1886 33.3003C79.9734 33.0487 79.0097 32.7551 78.2136 32.3776C77.4594 32.042 76.8727 31.5806 76.4956 31.0353C76.1185 30.49 75.909 29.8189 75.909 28.98C75.909 28.1411 76.1604 27.3442 76.6213 26.6731C77.0822 26.002 77.7527 25.4567 78.5907 25.0792C79.4287 24.7017 80.4343 24.4919 81.5657 24.4919C82.5713 24.4919 83.5769 24.6597 84.4988 24.9533C85.4206 25.2469 86.1748 25.7083 86.7614 26.2117L85.8815 28.1411C84.5826 27.0925 83.1579 26.5892 81.5657 26.5892C80.6439 26.5892 79.8896 26.7989 79.3449 27.1764C78.8002 27.5539 78.5488 28.0992 78.5488 28.7703C78.5488 29.3156 78.8002 29.777 79.2611 30.0706C79.7639 30.3642 80.56 30.6578 81.7333 30.9095C82.9484 31.2031 83.9541 31.4967 84.7083 31.8323C85.4625 32.1678 86.0491 32.5873 86.4681 33.1326C86.8871 33.6359 87.0967 34.307 87.0967 35.104C87.0967 35.9848 86.8453 36.7398 86.3843 37.369C85.9234 38.0401 85.253 38.5434 84.3731 38.879C83.4931 39.2145 82.4875 39.4243 81.2724 39.4243C80.2667 39.5501 79.2192 39.3823 78.2136 39.0887Z"
              fill="#006D69"></path>
            <path
              d="M97.5301 29.6511C98.2005 30.1125 98.7452 30.6997 99.1224 31.5386C99.4995 32.3775 99.709 33.2583 99.709 34.307C99.709 35.3556 99.4995 36.2784 99.1224 37.0753C98.7452 37.8723 98.2005 38.4595 97.5301 38.8789C96.8597 39.2984 96.0636 39.5081 95.1836 39.5081C94.4713 39.5081 93.8428 39.3403 93.2562 39.0467C92.7114 38.7531 92.2505 38.3337 91.9572 37.7884V43.0734H89.4012V29.2317H91.9572V30.7417C92.2505 30.1964 92.7114 29.735 93.2562 29.4414C93.8428 29.1478 94.4713 28.98 95.2255 28.98C96.0636 28.98 96.8178 29.1897 97.5301 29.6511ZM96.3988 36.6559C96.8597 36.1106 97.0692 35.3136 97.0692 34.307C97.0692 33.2583 96.8597 32.4614 96.3988 31.8742C95.9379 31.2869 95.3093 30.9933 94.5132 30.9933C93.6752 30.9933 93.0467 31.2869 92.5857 31.8322C92.1248 32.3775 91.9153 33.2164 91.9153 34.265C91.9153 35.3136 92.1248 36.1106 92.5857 36.6559C93.0467 37.2011 93.6752 37.4948 94.5132 37.4948C95.3093 37.4948 95.9379 37.2431 96.3988 36.6559Z"
              fill="#006D69"></path>
            <path
              d="M110.645 34.7685H103.773C103.857 35.6913 104.15 36.4043 104.611 36.8657C105.114 37.3271 105.785 37.5368 106.665 37.5368C107.796 37.5368 108.802 37.1593 109.723 36.4463L110.478 38.208C110.017 38.5855 109.43 38.921 108.718 39.1307C108.005 39.3824 107.293 39.4663 106.581 39.4663C104.947 39.4663 103.606 39.0049 102.684 38.0402C101.72 37.1174 101.259 35.8171 101.259 34.1813C101.259 33.1327 101.469 32.2099 101.888 31.4129C102.307 30.616 102.893 29.9868 103.648 29.5674C104.402 29.106 105.24 28.8962 106.204 28.8962C107.586 28.8962 108.676 29.3576 109.514 30.2385C110.31 31.1193 110.729 32.3777 110.729 33.9296V34.7685H110.645ZM104.569 31.4549C104.15 31.9163 103.899 32.5454 103.815 33.3424H108.466C108.424 32.5035 108.215 31.8743 107.838 31.4129C107.461 30.9935 106.916 30.7418 106.246 30.7418C105.533 30.7838 104.989 31.0354 104.569 31.4549Z"
              fill="#006D69"></path>
            <path
              d="M120.282 30.0286C120.953 30.6997 121.33 31.7903 121.33 33.2164V39.3403H118.858V37.7884C118.606 38.3337 118.271 38.7531 117.768 39.0467C117.266 39.3403 116.679 39.5081 116.009 39.5081C115.338 39.5081 114.71 39.3823 114.165 39.0887C113.62 38.795 113.159 38.4175 112.866 37.9561C112.531 37.4528 112.405 36.9495 112.405 36.3623C112.405 35.6072 112.615 35.02 112.992 34.6006C113.369 34.1811 113.997 33.8456 114.835 33.6778C115.673 33.4681 116.847 33.3842 118.355 33.3842H118.858V32.8808C118.858 32.2097 118.69 31.7064 118.397 31.3708C118.104 31.0772 117.601 30.9094 116.93 30.9094C116.386 30.9094 115.841 30.9933 115.254 31.2031C114.668 31.3708 114.081 31.6644 113.536 31.9581L112.824 30.1964C113.369 29.8189 114.081 29.5253 114.877 29.3155C115.673 29.0639 116.428 28.98 117.14 28.98C118.523 28.98 119.57 29.3155 120.282 30.0286ZM118.187 36.9495C118.606 36.4881 118.858 35.9009 118.858 35.1459V34.7264H118.481C117.559 34.7264 116.847 34.7684 116.344 34.8522C115.841 34.9361 115.464 35.062 115.254 35.2717C115.045 35.4814 114.919 35.775 114.919 36.1106C114.919 36.572 115.087 36.9075 115.38 37.2011C115.673 37.4948 116.05 37.6206 116.553 37.6206C117.182 37.6625 117.768 37.4109 118.187 36.9495Z"
              fill="#006D69"></path>
            <path
              d="M130.842 39.3405L126.484 34.7265V39.3405H123.886V24.7856H126.484V33.6779L130.548 29.2737H133.691L129.166 34.0974L134.026 39.3405H130.842Z"
              fill="#006D69"></path>
            <path
              d="M143.705 34.7685H136.834C136.917 35.6913 137.211 36.4043 137.672 36.8657C138.132 37.3271 138.845 37.5368 139.725 37.5368C140.856 37.5368 141.862 37.1593 142.784 36.4463L143.538 38.208C143.077 38.5855 142.49 38.921 141.778 39.1307C141.066 39.3824 140.353 39.4663 139.641 39.4663C138.007 39.4663 136.666 39.0049 135.744 38.0402C134.78 37.1174 134.319 35.8171 134.319 34.1813C134.319 33.1327 134.529 32.2099 134.948 31.4129C135.367 30.616 135.954 29.9868 136.708 29.5674C137.462 29.106 138.3 28.8962 139.264 28.8962C140.647 28.8962 141.736 29.3576 142.574 30.2385C143.412 31.1193 143.789 32.3777 143.789 33.9296V34.7685H143.705ZM137.63 31.4549C137.211 31.9163 136.959 32.5454 136.875 33.3424H141.526C141.485 32.5035 141.275 31.8743 140.898 31.4129C140.521 30.9935 139.976 30.7418 139.306 30.7418C138.593 30.7838 138.049 31.0354 137.63 31.4549Z"
              fill="#006D69"></path>
            <path
              d="M152.463 31.1192L150.954 31.245C149.236 31.4128 148.398 32.2936 148.398 33.8456V39.2984H145.8V29.2317H148.273V30.9933C148.775 29.7769 149.865 29.1058 151.499 29.0219L152.295 28.98L152.463 31.1192Z"
              fill="#006D69"></path>
            <path
              d="M154.893 39.1725C154.139 38.9628 153.51 38.6273 152.966 38.2078L153.678 36.4042C154.767 37.2011 155.982 37.5786 157.365 37.5786C157.952 37.5786 158.413 37.4948 158.706 37.285C158.999 37.0753 159.167 36.8236 159.167 36.4461C159.167 36.1525 159.041 35.9009 158.832 35.7331C158.622 35.5653 158.245 35.3975 157.7 35.2717L156.066 34.8942C155.144 34.6845 154.432 34.3489 153.971 33.8875C153.51 33.4261 153.301 32.7969 153.301 32.0839C153.301 31.4547 153.468 30.9094 153.845 30.448C154.181 29.9867 154.684 29.6092 155.312 29.3575C155.941 29.1058 156.653 28.98 157.491 28.98C158.203 28.98 158.916 29.1058 159.586 29.3155C160.256 29.5253 160.843 29.8608 161.346 30.2383L160.634 32C159.586 31.245 158.538 30.8675 157.491 30.8675C156.946 30.8675 156.485 30.9514 156.15 31.1611C155.815 31.3708 155.689 31.6644 155.689 32.0419C155.689 32.3356 155.773 32.5453 155.982 32.7131C156.192 32.8808 156.485 33.0486 156.946 33.1325L158.664 33.51C159.67 33.7197 160.424 34.0972 160.885 34.5586C161.346 35.02 161.597 35.6492 161.597 36.4461C161.597 37.3689 161.22 38.1239 160.466 38.6692C159.712 39.2145 158.664 39.5081 157.407 39.5081C156.443 39.5081 155.647 39.3823 154.893 39.1725Z"
              fill="#006D69"></path>
            <path
              d="M63.59 32C63.59 14.5091 49.4274 0.331787 31.9545 0.331787C14.4816 0.331787 0.319 14.5091 0.319 32C0.319 49.491 14.4816 63.6683 31.9545 63.6683C33.002 63.6683 63.5062 63.5005 63.5062 63.5005C63.5062 63.5005 63.59 32.797 63.59 32Z"
              fill="#006D69"></path>
            <path
              d="M25.7531 47.6034L53.1985 39.2145V28.5186L25.7531 20.1296V47.6034Z"
              fill="white"></path>
            <path
              d="M53.1566 47.6034H47.8351V26.3794H53.1566V44.2478V47.6034Z"
              fill="#AECC53"></path>
            <path
              d="M25.7531 25.5825V42.1507L21.8563 39.5082V28.225L25.7531 25.5825Z"
              fill="#AECC53"></path>
            <path
              d="M18.4204 41.3537C14.3141 37.2431 14.3141 30.532 18.4204 26.4214"
              stroke="white"
              stroke-width="3.5222"
              stroke-miterlimit="10"></path>
            <path
              d="M15.5292 44.2478C9.7887 38.5014 9.7887 29.2316 15.5292 23.5271"
              stroke="white"
              stroke-width="3.5222"
              stroke-miterlimit="10"></path>
          </svg>
        </a>
      </div>
      <div class="btns-wrapper">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://grnsft.org/speakers/find"
          class="button primary"
        >
          Submit a call for papers</a
        >
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://grnsft.org/speakers/apply"
          class="button primary">Add a speaker</a
        >
      </div>
    </header>
    <div class="patterns-wrapper">
      <div class="left-pattern">
        <img src="/images/pattern-left.svg" alt="Pattern" />
      </div>
      <div class="right-pattern">
        <img src="/images/pattern-right.svg" alt="Pattern" />
      </div>
    </div>
    <main>
      <slot />
    </main>
    <footer>
      <div class="footer-wrapper">
        <div class="footer-left">
          <div class="footer-logo">
            <svg
              width="70"
              height="70"
              viewBox="0 0 63 63"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M63.59 32C63.59 14.5091 49.4274 0.331787 31.9545 0.331787C14.4816 0.331787 0.319 14.5091 0.319 32C0.319 49.491 14.4816 63.6683 31.9545 63.6683C33.002 63.6683 63.5062 63.5005 63.5062 63.5005C63.5062 63.5005 63.59 32.797 63.59 32Z"
                fill="#006D69"></path>
              <path
                d="M25.7531 47.6034L53.1985 39.2145V28.5186L25.7531 20.1296V47.6034Z"
                fill="white"></path>
              <path
                d="M53.1566 47.6034H47.8351V26.3794H53.1566V44.2478V47.6034Z"
                fill="#AECC53"></path>
              <path
                d="M25.7531 25.5825V42.1507L21.8563 39.5082V28.225L25.7531 25.5825Z"
                fill="#AECC53"></path>
              <path
                d="M18.4204 41.3537C14.3141 37.2431 14.3141 30.532 18.4204 26.4214"
                stroke="white"
                stroke-width="3.5222"
                stroke-miterlimit="10"></path>
              <path
                d="M15.5292 44.2478C9.7887 38.5014 9.7887 29.2316 15.5292 23.5271"
                stroke="white"
                stroke-width="3.5222"
                stroke-miterlimit="10"></path>
            </svg>
          </div>
          <p class="footer-text">
            Copyright © 2022 Joint Development Foundation Projects, LLC, Green
            Software Foundation Series
            <br />
            The Joint Development Foundation Projects, LLC is an affiliate of the
            Linux Foundation.
          </p>
          <ul class="social-links">
            <li>
              <a
                href="https://github.com/Green-Software-Foundation"
                target="_blank"
                rel="noopener noreferrer"
                ><svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  viewBox="0 0 496 512"
                  ><path
                    fill="currentColor"
                    d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
                  ></path>
                </svg>
              </a>
            </li><li>
              <a
                href="https://twitter.com/gsfcommunity"
                target="_blank"
                rel="noopener noreferrer"
                ><svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  viewBox="0 0 512 512"
                  ><path
                    fill="currentColor"
                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                  ></path>
                </svg>
              </a>
            </li><li>
              <a
                href="https://www.linkedin.com/company/green-software-foundation/"
                target="_blank"
                rel="noopener noreferrer"
                ><svg
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                  viewBox="0 0 448 512"
                  ><path
                    fill="currentColor"
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-right">
          <div>
            <h3>LINKS</h3>
            <ul>
              <li>
                <a href="https://grnsft.org/speakers/find"
                  >Submit a call for papers</a
                >
              </li>
              <li>
                <a href="https://grnsft.org/speakers/apply">Add a speaker</a>
              </li>
              <li>
                <a href="https://github.com/Green-Software-Foundation/speakers/"
                  >Project Github</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h3>LEGAL</h3>
            <ul>
              <li>
                <a href="https://greensoftware.foundation/policy/trademark"
                  >Trademark Policy</a
                >
              </li>
              <li>
                <a href="https://greensoftware.foundation/policy/terms"
                  >Terms and Privacy Policy</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <style is:global>
      :root {
        --primary-lighter: #bfdbd9;
        --primary: #006d69;
        --primary-darker: #003734;
        --primary-darkest: #002c2a;
        --accent: #aecc53;
        --background: #fbfcf6;
        --grey: #ededed;
        --grey-darker: #777;
        --black: #3c3c3c;
        --white-lighter: hsla(0, 0%, 100%, 0.5);
      }
      html {
        font-family: "Nunito Sans", sans-serif;
        background-color: #f6f6f6;
      }
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      * {
        margin: 0;
      }

      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        background-color: var(--background);
      }

      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }

      #root,
      #__next {
        isolation: isolate;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      .has-tooltip {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
      [data-tooltip] {
        position: relative;
      }
      [data-tooltip]:before {
        content: attr(data-tooltip);
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5rem 1rem;
        background-color: var(--primary);
        color: #fff;
        border-radius: 0.25rem;
        font-size: 0.75rem;
        white-space: nowrap;
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
      }
      [data-tooltip]:hover:before {
        visibility: visible;
        opacity: 1;
      }

      .button {
        border: none;
        border-radius: 8px;
        font-size: 0.75rem;
        text-decoration: none;
        padding: 0.75rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-weight: 800;
      }
      .button.primary {
        background-color: var(--primary);
        color: white;
        background-color: var(--primary);
      }
      .button.outline {
        background-color: transparent;
        color: var(--primary);
        border: 2px solid var(--primary);
      }
      .button.white {
        background-color: white;
        color: var(--primary);
        border: 2px solid var(--primary);
      }
      header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
      }
      .logo {
        margin-bottom: 16px;
      }
      header .btns-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }
      header .button {
        display: flex;
        justify-content: center;
      }
      .left-pattern,
      .right-pattern {
        position: absolute;
        user-select: none;
        pointer-events: none;
        z-index: 0;
        display: none;
      }
      .left-pattern {
        left: 0;
        top: 500px;
      }
      .right-pattern {
        right: 0;
        top: 700px;
      }
      main {
        padding: 0 24px;
        z-index: 1;
        position: relative;
      }

      footer {
        background-color: var(--primary-darkest);
      }
      .footer-wrapper {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .footer-logo {
        margin-bottom: 1rem;
      }
      .footer-text {
        color: white;
        font-size: 0.75rem;
        max-width: 300px;
        color: var(--white-lighter);
        margin-bottom: 1rem;
      }
      .social-links {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0;
        list-style: none;
        color: var(--primary-lighter);
      }
      .social-links svg {
        width: 24px;
        height: 24px;
      }
      .footer-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .footer-right h3 {
        color: var(--accent);
        font-size: 0.75rem;
        font-weight: 800;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      .footer-right h3:after {
        background-color: currentColor;
        content: "";
        display: block;
        height: 4px;
        margin-top: 0.5rem;
        width: 24px;
      }
      .footer-right ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .footer-right a {
        color: var(--white-lighter);
        font-size: 0.875rem;
        text-decoration: none;
      }
      @media (min-width: 768px) {
        main {
          max-width: 80rem;
          margin: 0 auto;
        }
        header {
          flex-direction: row;
          justify-content: space-between;
          max-width: 80rem;
          margin: 0 auto;
        }
        .button {
          font-size: 0.875rem;
          padding: 1rem 1.5rem;
        }
        .footer-wrapper {
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          max-width: 80rem;
          margin: 0 auto;
          padding: 4rem 0;
        }
        .footer-right {
          gap: 6rem;
        }
        .footer-text {
          font-size: 0.875rem;
          max-width: 400px;
        }
      }
      @media (min-width: 1200px) {
        .left-pattern,
        .right-pattern {
          display: block;
        }
      }
    </style>
  </body>
</html>
